* {
  box-sizing: border-box;
}
@media only screen and (max-width: 1440px) {
  .whole {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 15px;
  }
  .content {
    display: flex;
    flex-direction: row;
  }
  /* Menu Styling */
  .left {
    width: 25%;
    padding: 10px;
    padding-top: 4%;
    position: fixed;
    height: 800px;
    background-color: #ffc194;
  }
  .submenu {
    border-style: none none none solid;
    border-color: #ff8e3c;
    margin-left: 10px;
    padding-left: 15px;
  }

  .accordion {
    background-color: #ffc194;
    color: #444;
    cursor: pointer;
    padding: 15px;
    width: 80%;
    padding-right: 0;
    margin-right: 0;
    margin-left: 23%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }

  .submenu p a {
    text-decoration: none;
    color: black;
  }

  .active,
  #select,
  .accordion:hover {
    border-style: none solid none none;
    border-color: #7d1b7e;
    background: linear-gradient(
      93.52deg,
      rgba(241, 192, 242, 0) -12.58%,
      rgba(194, 49, 196, 0.5) 100%
    );
    background-color: #ccc;
  }
  .accordion:after {
    content: "\025bc"; /* Unicode character for down arrrow */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }

  .active:after {
    content: "\25b2"; /* Unicode icon for up arrow */
  }
  .panel {
    font-size: 12px;
    padding: 0 18px;
    display: none;
    margin-left: 21%;
    background-color: #ffc194;
    overflow: hidden;
  }

  /* Content Styling */
  .right {
    margin-top: 3%;
    margin-left: 28%;
    padding: 10px;
    width: 70%;
  }
  strong {
    color: #7d1b7e;
    font-size: 10px;
  }
  strong a {
    text-decoration: none;
    color: #ff8e3c;
  }
  h1,
  h2,
  h3 {
    font-weight: bolder;
    color: #7d1b7e;
  }
  b {
    font-weight: bolder;
    font-size: 15px;
    color: #ff8e3c;
  }
  .pin {
    width: 20px;
    padding-right: 8px;
  }
  .something {
    text-decoration: none;
    color: #d542d7;
  }
  #comment {
    margin-left: 29%;
  }
  .comment {
    width: 18px;
    height: 13px;
    padding-right: 5px;
  }
  p a {
    text-decoration: none;
    color: black;
  }
  .submit {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
  }
  #previous {
    margin-left: 28%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 200px;
    background-color: #7d1b7e;
  }
  #previous .up {
    color: white;
    text-align: right;
  }
  #previous .down {
    color: #ff8e3c;
    text-align: left;
  }
  #next {
    margin-left: 38%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 200px;
    background-color: #7d1b7e;
  }
  #next .up {
    color: white;
    text-align: left;
  }
  #next .down {
    color: #ff8e3c;
    text-align: right;
  }
  #next1 {
    margin-left: 82%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 200px;
    background-color: #7d1b7e;
  }
  #next1 .up {
    color: white;
    text-align: left;
  }
  #next1 .down {
    color: #ff8e3c;
    text-align: right;
  }
  .next {
    width: 15px;
    filter: invert(100%) sepia(0%) saturate(7473%) hue-rotate(158deg)
      brightness(99%) contrast(102%);
    margin-left: 4px;
    vertical-align: middle;
  }
  .previous {
    width: 15px;
    filter: invert(100%) sepia(0%) saturate(7473%) hue-rotate(158deg)
      brightness(99%) contrast(102%);
    margin-right: 4px;
    vertical-align: middle;
  }
  #next,
  #previous a {
    text-decoration: none;
  }
  .copy_code {
    background-color: #eeeeee;
    width: 95%;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }
  #copy_code_button {
    margin-left: 95%;
    border: none;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  #copy_code_button:hover {
    background-color: #cccccc;
  }
}
