* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    border: none;
    list-style: none;
    font-family: 'Open Sans';
}
footer {
    background-color: #7D1B7E;
    padding: 50px;
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-around;
    color: #FCE8FC;
    font-size: 16px;
    font-weight: 400px;
}
footer h6 {
    color: #FFB580;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}
footer a {
    color: #FCE8FC;
}
.footer-1 .logo {
    margin: 26px 0;
}
.footer-1 p {
    margin-top: 120px;
}
.footer-1 {
    width: 40%;
}
.underline:hover, .underline:focus {
    text-decoration: underline;
}
.footer-1 .ionicon {
    fill: azure;
    width: 25px;
    margin-right: 28.5px;
}
.ionicon:hover {
    fill: hsl(322, 100%, 66%);
}
.glow-button:hover {
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    transition-delay: 0s;
}
.footer-2, .footer-3 {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-content: flex-start;
}
.footer-2 a {
    margin-bottom: 30px;
}
.footer-3 div {
    margin-bottom: 30px;
}
.footer-3 img, .footer-3 svg {
    margin-right: 15px;
}