* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    border: none;
}

body {
    margin: auto;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 400;
}

header {
    width: 100%;
    padding: 25px 35px 20px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7D1B7E;
    border-bottom: 2px solid rgba(21, 5, 21, 0.2);
    box-shadow: 0px 2px 4px rgba(21, 5, 21, 0.2);
    transition: all 0.5s linear;
}

header .navbar a {
    color: #F2F1F4;
    padding: 3px 13px;
}

.bd-r {
    border-right: 1px solid #C231C4;
}

header .navbar a:hover,
header .navbar .active {
    color: #FF8E3C;
    text-decoration: underline;
}

header button {
    background-color: #FF4D6A;
    padding: 9px 8px;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    cursor: pointer;
    margin-left: 25px;
}

header button span {
    font-size: 16px;
    margin-left: 4px;
    padding-left: 8px;
    padding-right: 2px;
    color: white;
    border-left: 1px solid white;
}

main {
    padding: 50px 90px;
}
.animation-intro {
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
    color: #4A4656;
    display: flex;
    justify-content: center;
    align-items: center;
}
.animation-intro-content p:first-child {
    font-size: 48px;
    font-weight: 700;
}
.animation-intro-content p:last-child {
    font-size: 16px;
}
.animation-nav-bar {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.animation-nav-bar .active {
    background-color: #7D1B7E;
    color: white;
}
.animation-switch {
    padding: 8px 60px;
    font-size: 20px;
    border-radius: 10px;
    border-right: 3px solid gainsboro;
    margin-bottom: 5px;
}

.animation-switch:last-child {
    border-right: none;
}
.animation-main {
    border: 1px solid #C231C4;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 6px;
    padding: 30px 40px;
}

.developer-actions {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.developer-actions a {
    margin: 0 5px;
    padding: 7.5px 9px;
    background-color: #FCE8FC;
    border-radius: 5cm;
}

.animation-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom: 70px;
}

.animation-options {
    background-color: #FCE8FC;
    border: 1px solid #E381E4;
    width: 320px;
    height: 520px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 4px 12px;
    font-size: 16px;
    font-weight: 400;
    color: #170317;
    box-shadow: -5px 5px 4px rgba(71, 12, 71, 0.12);
    overflow-y: scroll;
}
.animation-options h2 {
    font-size: 20px;
    font-weight: 700;
    color: #4E4E4E;
    width: 100%;
    text-align: center;
    margin-top: 8px;
}
.animation-options label {
    color: #4E4E4E;
    margin-top: 10px;
}
.options-group {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.options-group div:last-child {
    padding-left: 5px;
    width: 50%;
}
.options-group div:first-child {
    padding-right: 5px;
    width: 50%;
}
.iteration-group {
    display: flex;
    margin-top: 5px;
    width: 100%;
}
.iteration-group div {
    width: 70%;
}
.iteration-group .checkbox {
    margin: 0 7px;
}
.iteration-group label{
    margin: 0;
}
.input-drop {
    width: 100%;
    border: 1px solid #7D1B7E;
    padding: 5px 0;
    margin-top: 10px;
}
.bt-15 {
    margin-bottom: 15px;
}
.top-10 {
    margin-top: 10px;
}
.slider {
    width: 100%;
    height: 20px;
    background-color: #7D1B7E;
    opacity: 0.7;
    transition: opacity 0.2s;
    -webkit-transition: 0.2s;
}
.slider:hover {
    opacity: 1;
}
.animation-object {
    background-color: #7D1B7E;
    width: 200px;
    height: 200px;
    margin-left: 200px;
    border-radius: 5cm;
}
.animation-object-1 {
    background-color: #7D1B7E;
    width: 200px;
    height: 200px;
    margin-left: 200px;
}
.bt-40 {
    align-self: flex-start;
}
.ct-40 {
    align-self: center;
}
#code-template {
    width: 180px;
    height: 180px;
    background-color: #FCE8FC;
    align-self: flex-start;
    margin-left: 50px;
    margin-top: 50px;
    color: #7D1B7E;
}