<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="styles.css" />
  </head>

  <div class="doc_body">
    <header>
      <a href="#" class="logo">
        <img src="../static/assets/Logo.svg" alt="logo" width="179px" />
      </a>
      <nav class="navbar">
        <a href="{% url 'home' %}" class="bd-r">Home</a>
        <a href="{% url 'doc_page1' %}" class="operative bd-r">Documentation</a>
        <a href="{% url 'animation' %}" class="bd-r" class="bd-r">Animations</a>
        <a href="{% url 'about' %}">About</a>
        <button class="sign-up">
          <a href="{% url 'signup' %}">Sign Up></a>
        </button>

        {% if request.user.is_authenticated %}
        <button class="download">
          <a href="../Animation_library/animax.zip" download class="my_link">
            <img src="../static/assets/download-16.png" alt="download library" />
            Download
          </a>
        </button>
        {% endif %}
        
      </nav>
    </header>
  <body>
    <main>
      <h3>Saved Items</h3>
      <p>There's nothing here yet</p>
      <button>Add now</button>
    </main>
  </body>
</html>
