.anim-pulse {
    animation-name: pulse;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {
        opacity: 0.1;
    }

    10% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}

.animation-row {
    display: flex;
    padding-top: 80px;
    padding-left: 80px;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: rgb(65, 33, 95);
    border-radius: 5cm;
}

#bounce-1x {
    animation: bounce 1s linear infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50%);
    }
}