{% extends 'resetmain.html' %}

{% block content %}


   

<main>
    <div class="back">
      <ion-icon name="backspace-outline"></ion-icon>
    </div>
    <div class="container">
      <form method="POST">
        <h2>Reset Password</h2>
        <div class="input">
          <label for="txtEnternew">Enter your new password</label>
          <input type="password" name="pass"class="form-control" placeholder="......."/>
          <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
        </div>
        <div class="input">
          <label for="txtconfirmnew">Confirm new password</label>
          <input type="password" name="pass" class="form-control" placeholder="......."/>
          <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
        </div>
        <div class="send">
          <input type="submit" name="submit" value="Save">
        </div>
        <p class="log">Go back to <a href="" class="log1">Sign in </a></p>    
      </form>
    </div>
  </main>

  {% endblock %}