{% extends 'resetmain.html' %}

{% block content %}


<header>
    <div class="img">
        <img src="Logo.png" class="logo">
    </div>
</header>
<main>
    <div class="back">
        <a href=""><ion-icon name="backspace-outline"></ion-icon></a>
    </div> 
    <div class="container">
            <h2>Password reset sent</h2>
            <p>Please, check your email. <br> <br> We have sent instructions for you to reset your password. <br> <br> If you did not get any, check your spam folder. Also, make sure you entered the right email</p>
    </div>
</main> 



   {% endblock %}