{% extends 'resetmain.html' %}

{% block content %}


   


   <!--Reset password-->
   <header>
    <div class="img">
        <img src="Logo.png" class="logo">
    </div>
</header>
   <main>
    <div class="back">
        <a href=""><ion-icon name="backspace-outline"></ion-icon></a>
    </div> 
    <div class="container">
        <form method="POST" class="contain">
            {% csrf_token %}
            
            <h2>Forgot Password?</h2>
            <p>Enter your email address and we’ll send a reset code</p>
            <div class="input">
                <label for="email">Email</label> <br>
                <input type="email" name="email" placeholder="Enter your email" class="email"/>
            </div>
            <div class="send">
                <input type="submit" name="submit" value="Send reset code">
            </div>
            <p class="log">Back to <a href="" class="log1">Sign in </a></p>   
        </form>
    </div>
</main>

{% endblock %}