* {
  box-sizing: border-box;
  text-decoration: none;
  border: none;
}
@media only screen and (max-width: 1440px) {
  body {
    font-family: "Open Sans";
  }
  header {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    color: #170317;
    width: 100%;
    padding: 15px 80px 15px 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7d1b7e;
    border-bottom: 2px solid rgba(21, 5, 21, 0.2);
    box-shadow: 0px 2px 4px rgba(21, 5, 21, 0.2);
    transition: all 0.5s linear;
  }
  header .navbar a {
    color: #f2f1f4;
    padding: 3px 13px;
  }
  .bd-r {
    border-right: 1px solid #fdf7fd;
  }

  header .navbar a:hover,
  header .navbar .operative {
    color: #ff8095;
    text-decoration: underline;
  }

  header .sign-up {
    background-color: inherit;
    padding: 8px 16px;
    border-radius: 7px;
    cursor: pointer;
    margin-left: 5px;
    border: 1px solid #c231c4;
  }

  header .sign-up span {
    font-size: 16px;
    color: #fdf7fd;
  }

  header .download {
    background-color: #ff4d6a;
    padding: 9px 8px;
    border-radius: 7px;
    cursor: pointer;
    margin-left: 5px;
  }

  header .download span {
    font-size: 16px;
    margin-left: 4px;
    padding-left: 8px;
    padding-right: 2px;
    color: #fce8fc;
    border-left: 1px solid #fce8fc;
  }
  .whole {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 15px;
  }
  .content {
    display: flex;
    flex-direction: row;
  }
  /* Menu Styling */
  .left {
    width: 25%;
    padding: 10px;
    padding-top: 4%;
    position: absolute;
    height: 800px;
    background-color: #ffccd5;
  }
  .submenu {
    border-style: none none none solid;
    border-color: #ff8e3c;
    margin-left: 10px;
    padding-left: 15px;
  }

  .accordion {
    border-style: none solid none none;
    border-color: #7d1b7e;
    background: linear-gradient(
      93.52deg,
      rgba(241, 192, 242, 0) -12.58%,
      rgba(241, 192, 242, 0.5) 100%
    );
    color: #444;
    cursor: pointer;
    padding: 15px;
    width: 80%;
    padding-right: 0;
    margin-right: 0;
    margin-left: 23%;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }

  .submenu p a {
    text-decoration: none;
    color: black;
  }

  .active,
  #select,
  .accordion:hover {
    border-style: none solid none none;
    border-color: #7d1b7e;
    background: linear-gradient(
      93.52deg,
      rgba(241, 192, 242, 0) -12.58%,
      rgba(241, 192, 242, 0.5) 100%
    );
  }
  .accordion:after {
    content: "\025bc"; /* Unicode character for down arrrow */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }

  .active:after {
    content: "\25b2"; /* Unicode icon for up arrow */
  }
  .panel {
    font-size: 12px;
    padding: 0 18px;
    display: none;
    margin-left: 21%;
    background-color: #ffccd5;
    overflow: hidden;
  }

  /* Content Styling */
  .right {
    margin-top: 3%;
    margin-left: 28%;
    padding: 10px;
    width: 70%;
  }
  strong {
    color: #7d1b7e;
    font-size: 10px;
  }
  strong a {
    text-decoration: none;
    color: #ff8e3c;
  }
  h1,
  h2,
  h3 {
    font-weight: bolder;
    color: #7d1b7e;
  }
  b {
    font-weight: bolder;
    font-size: 15px;
    color: #ff8e3c;
  }
  .pin {
    width: 20px;
    padding-right: 8px;
  }
  .something {
    text-decoration: none;
    color: #d542d7;
  }
  #rating {
    margin-left: 29%;
  }
  .fa-star {
    font-size: 15px;
    cursor: pointer;
    color: #cccccc;
  }
  p a {
    text-decoration: none;
    color: #7d1b7e;
  }
  mark {
    text-decoration: none;
    background-color: #f4c3f5;
  }
  .submit {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
  }
  #previous {
    margin-left: 28%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 200px;
    background-color: #7d1b7e;
  }
  #previous .up {
    color: white;
    text-align: right;
  }
  #previous .down {
    color: #ff8e3c;
    text-align: left;
  }
  #next {
    margin-left: 38%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 200px;
    background-color: #7d1b7e;
  }
  #next .up {
    color: white;
    text-align: left;
  }
  #next .down {
    color: #ff8e3c;
    text-align: right;
  }
  #next1 {
    margin-left: 82%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 200px;
    background-color: #7d1b7e;
  }
  #next1 .up {
    color: white;
    text-align: left;
  }
  #next1 .down {
    color: #ff8e3c;
    text-align: right;
  }
  .git {
    width: 15px;
    filter: invert(16%) sepia(26%) saturate(6530%) hue-rotate(282deg)
      brightness(97%) contrast(99%);
    margin-left: 4px;
    vertical-align: middle;
  }
  .next {
    width: 15px;
    filter: invert(100%) sepia(0%) saturate(7473%) hue-rotate(158deg)
      brightness(99%) contrast(102%);
    margin-left: 4px;
    vertical-align: middle;
  }
  .previous {
    width: 15px;
    filter: invert(100%) sepia(0%) saturate(7473%) hue-rotate(158deg)
      brightness(99%) contrast(102%);
    margin-right: 4px;
    vertical-align: middle;
  }
  #next,
  #previous a {
    text-decoration: none;
  }
  .copy_code {
    background-color: #eeeeee;
    width: 95%;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }
  #copy_code_button {
    margin-left: 95%;
    border: none;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  #copy_code_button:hover {
    background-color: #cccccc;
  }
  .newsletter {
    background-color: #f1c0f2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    margin-top: 5%;
  }
  .newslet-content {
    background-color: inherit;
    width: 29%;
  }
  .newslet-content p:first-child {
    font-size: 18px;
    font-weight: 600;
  }
  .newslet-content p:last-child {
    color: #4a4656;
    font-weight: 400;
    font-size: 14px;
  }
  .newslet-form {
    display: flex;
    width: 50%;
  }
  .newslet-form input {
    padding: 19px 10px;
    background-color: #f2f2f2;
    border: 1px solid #a29daf;
    border-radius: 8px 0px 0px 8px;
    width: 70%;
  }
  .newslet-form button {
    padding: 8px 16px;
    border: none;
    background-color: #ff4d6a;
    border-radius: 0px 8px 8px 0px;
    font-size: 20px;
    color: #f2f2f2;
  }
  footer {
    font: "Open Sans";
    background-color: #7d1b7e;
    padding: 50px;
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-around;
    color: #fce8fc;
    font-size: 16px;
    font-weight: 400px;
  }
  footer h6 {
    color: #ffb580;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  footer a {
    color: #fce8fc;
  }
  .footer-1 .logo {
    margin: 26px 0;
  }
  .footer-1 p {
    margin-top: 120px;
  }
  .footer-1 {
    width: 40%;
  }
  .underline:hover,
  .underline:focus {
    text-decoration: underline;
  }
  .footer-1 .ionicon {
    fill: azure;
    width: 25px;
    margin-right: 28.5px;
  }
  .ionicon:hover {
    fill: hsl(322, 100%, 66%);
  }
  .glow-button:hover {
    box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
    transition-delay: 0s;
  }
  .footer-2,
  .footer-3 {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-content: flex-start;
  }
  .footer-2 a {
    margin-bottom: 30px;
  }
  .footer-3 div {
    margin-bottom: 30px;
  }
  .footer-3 img,
  .footer-3 svg {
    margin-right: 15px;
  }
}
