{% extends 'main.html' %}

{% block content %}
  <div class="download_body">
    <main>
      <div class="head">
        <a href="#" class="logo">
            <img src="../static/assets/Logo.svg" alt="logo" width="179px" />
          </a>
        <div class="back">
          <a href="#home"
            ><img src="ArrowLeft.svg" alt="arrow-right"
            />Back to previous page
            </a>
        </div>
      </div>
      <hr>
      <div class="mid">
        <img src="../static/images/library-download.gif" alt="download-rolling">
        <div class="mid-content">
            <h5>Downloading animation library... </h5>
            <p>Your library download should start automatically within seconds</p>
            <p>If it doesn't,<a href="#"> restart the download.</a></p>
        </div>
      </div>
      <hr>
      <div class="tail">
        <div class="card">
            <img src="../static/assets/extract.svg" alt="extract">
            <p class="bold">1. Extract the Library File</p>
            <hr>
            <p>Use a zip file extractor to extract the contents of the zip file to your desktop.</p>
        </div>
        <div class="card">
            <img src="../static/assets/move.svg" alt="move">
            <p class="bold">2. Move the Library File</p>
            <hr>
            <p>Transfer the library files into your development project.</p>
        </div>
        <div class="card">
            <img src="../static/assets/import.svg" alt="import">
            <p class="bold">3. Import the Library File</p>
            <hr>
            <p>Import the library into your html files and animate elements as you like.</p>
        </div>
      </div>
      <p class="last">Need any more info? Check out our <a href="#">How-To Guide</a> or <a href="#">FAQs</a></p>
    </main>
  </div>
{% endblock %}
