{% extends 'main.html' %}

{% block content %}
    <header>
      <a href="#" class="logo">
        <img src="../static/assets/Logo.svg" alt="logo" width="179px" />
      </a>
      <nav class="navbar">
        <a href="#" class="active bd-r">Home</a>
        <a href="Documentation.html" class="bd-r">Documentation</a>
        <a href="Animations.html" class="bd-r" class="bd-r">Animations</a>
        <a href="{% url 'about' %}">About</a>
        <button class="sign-up">
          <span><a href="{% url 'signup' %}">Sign Up</a></span>
        </button>
        <button class="download">
          <img src="../static/assets/download-16.png" alt="download library" />
          <span>Download</span>
        </button>
      </nav>
    </header>
    <main>
      <div class="landing">
        <div class="landing-text">
          <h2>Animate <span>with ease.</span></h2>
          <p>
            Animating with code can be intimidating at first, but don't worry,
            Animax was designed to make it simple and intuitive.
          </p>
          <button class="landing-btn">
            <span>Download Library</span>
          </button>
        </div>
        <div class="landing-image">
          <img
            src="../static/assets/Website-interface.svg"
            alt="web-animation-interface"
          />
        </div>
      </div>
      <div class="step-main-card">
        <h4>In Four Easy Steps:</h4>
        <div class="step-card">
          <img class="number-left" src="assets/1.svg" alt="first step" />
          <div class="step-text">
            <h2>Download Library</h2>
            <p>Download the animation library zip file to your device.</p>
          </div>
          <img
            class="step-logo"
            src="../static/assets/download-library.svg"
            alt="download library icon"
          />
        </div>
        <div class="step-card">
          <img
            class="step-logo"
            src="../static/assets/extract-library.svg"
            alt="extract library icon"
          />
          <div class="step-text">
            <h2>Extract the zip file</h2>
            <p>
              Use a zip file extractor to extract the contents of the zip file
              to your desktop.
            </p>
          </div>
          <img class="number-right" src="../static/assets/2.svg" alt="second step" />
        </div>
        <div class="step-card">
          <img class="number-left" src="../static/assets/3.svg" alt="third step" />
          <div class="step-text">
            <h2>Move Library Files</h2>
            <p>Move the library files into your development project.</p>
          </div>
          <img
            class="step-logo"
            src="../static/assets/move-library-folder.svg"
            alt="move file/folder icon"
          />
        </div>
        <div class="step-card">
          <img
            class="step-logo"
            src="../static/assets/import-library.svg"
            alt="import library icon"
          />
          <div class="step-text">
            <h2>Import And Animate</h2>
            <p>
              Import the library into your html files and animate elemnts as you
              like.
            </p>
          </div>
          <img class="number-right" src="../static/assets/4.svg" alt="fourth step" />
        </div>
      </div>
      <div class="features">
        <div class="content-1">
          <h2>Animax, the perfect developer tool</h2>
          <p>
            Want an easier development process? With Animax, no repetitive
            typing each time you need a new animation, simply call a function
            and get the work done. The possibilities are endless witth Animax.
          </p>
          <a href="#"
            >Read more in Documentation
            <img src="..static/assets/arrow-right.svg" alt="arrow-right"
          /></a>
        </div>
        <div class="content-2">
          <ul>
            <li>&#10004; Smooth and seamless transitions</li>
            <li>&#10004; Easy Implementation</li>
            <li>&#10004; Faster Development</li>
            <li>&#10004; Website interface improvement</li>
            <li>&#10004; Simpler syntax</li>
            <li>&#10004; High code quality</li>
          </ul>
        </div>
      </div>
      <h4 class="try-head">Try some cool animations...</h4>
      <div class="animation-card">
        <div class="animax-a">
          <h5>Sliding Text</h5>
          <p class="center">Sample Text</p>
          <button class="right animation-btn"><img src="../static/assets/play.svg" alt="play"></button>
        </div>
        <div class="animax-b">
          <h5>Fading Text</h5>
          <p class="center">Sample Text</p>
          <button class="right animation-btn"><img src="../static/assets/play.svg" alt="play"></button>
        </div>
        <div class="animax-c">
          <h5>Rotating Cube</h5>
          <div id="rotate" class="cube rotate center"></div>
          <button onclick="playRotate()" class="right animation-btn"><img src="../static/assets/play.svg" alt="play"></button>
        </div>
        <div class="animax-d">
          <h5>Bouncing Circle</h5>
          <div id="bounce" class="circle bounce center"></div>
          <button onclick="playBounce()" class="right animation-btn"><img src="../static/assets/play.svg" alt="play"></button>
        </div>
        <div class="animax-e">
          <h5>Move Text Up</h5>
          <p class="center">Sample Text</p>
          <button class="right animation-btn"><img src="../static/assets/play.svg" alt="play"></button>
        </div>
        <div class="animax-f">
          <button>
            Check out more animations
            <img src="../static/assets/arrow-right.svg" alt="arrow-right" />
          </button>
        </div>
      </div>
    </main>
    <footer></footer>
  {% endblock %}