{% extends 'main.html' %}

{% block content %}
  <body>
    <header>
        <div class="img">
            <img src="../static/images/Logo.png" class="logo">
        </div>
    </header>
    
    <main>
        <div class="back">
            <a href=""><ion-icon name="arrow-back">Back to home</ion-icon></a>
        </div> 
        <div class="container">
          <div class="sent">
            <img src="../static/images/Frame 3611.png"class="sent">
          </div>
          <h2>Email Sent!</h2>
          <p>Kindly follow the steps in the mail to reset your password</p>
        </div>
    </main> 
  </body>
{% endblock %}
