{% extends 'main.html' %}

{% block content %}
  <div class="resetconfirm_body">
    <header>
      <div class="img">
        <img src="../static/images/Logo.png" class="logo">
      </div>
    </header>
    <main>
      <div class="back">
        <a href="#"><ion-icon name="arrow-back"></ion-icon></a>
    </div>
      <div class="container">
        <form>
          <h2>Reset Password</h2>
          <div class="input">
            <label for="password">Password</label> <br>
            <input type="password" name="password"class="password" placeholder="......."/>
          </div>
          <div class="input">
            <label for="password">Confirm password</label> <br>
            <input type="password" name="password" class="password" placeholder="......."/>
          </div>
          <div class="send">
            <input type="submit" name="submit" value="Save">
          </div>
          <p class="log">Go back to <a href="" class="log1">Sign in </a></p>    
        </form>
      </div>
    </main>
  </div>
{% endblock %}
