{% extends 'main.html' %}

{% block content %}
  <div class="reset_body">
    <header>
        <div class="img">
            <img src="../static/images/Logo.png" class="logo">
        </div>
    </header>
    <main>
        <div class="back">
            <a href=""><ion-icon name="arrow-back"></ion-icon></a>
        </div> 
        <div class="container">
            <form class="contain">
                {% csrf_token %}
                <h2>Forgot Password?</h2>
                <p>Enter your email address and we will send a reset code</p>
                <div class="input">
                    <label for="email">Email address</label> <br>
                    <input type="email" name="email" placeholder="Your email address" class="email"/>
                </div>
                <div class="send">
                    <input type="submit" name="submit" value="Send reset code">
                </div>
                <p class="log">Back to <a href="#" class="log1">Sign in </a></p>   
            </form>
        </div>
    </main>
  </div>
{% endblock %}
