{% extends 'main.html' %}


{% block content %}
 <div class='signup_body'>
    <!-- Header Section -->
    <header>
      <h1>Anima Lib</h1>
    </header>
    <!-- Signup Form -->
      <form method="POST" action>
        {% csrf_token %}
        <fieldset>
          <h2>Get Started</h2>
          <div>
            <p>
              <label class="label" for="username">Username</label>
              <br />
              {{form.username}}
            </p>

            <p>
              <label class="label" for="E-mail">Email</label>
              <br />
              {{form.email}}
            </p>

            <p>
              <label class="label" for="password">Password</label>
              <br />
              {{form.password1}}
            </p>

            <p>
              <label class="label" for="cpassword">Confirm Password</label>
              <br />
              {{form.password2}}
            </p>
          </div>

          <div>
            <button type="submit">Sign up </button>
          </div>
          {% if messages %}
          <ul class="messages" type="none">
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
          </ul>
          {% endif %}
          <div class="signin">
            Already have an account? <a href="{% url 'signin' %}"><b>Sign in</b></a>
          </div>
          <div class="or">
            OR
          </div>
          <div class="icons">
            <i class="fab fa-google fa-5x"></i>
            <i class="fa fa-apple fa-5x"></i>
          </div>
          <div class="agreement">
            By signing up, you agree to our <a id="terms" href="#"><b>Terms</b></a> 
            & Condition and <a id="privacy" href="#"><b>Privacy Policy</b></a>
          </div>
        </fieldset>
      </form>
 </div>
{% endblock %}
