{% extends 'main.html' %}
<link rel="stylesheet" href="signup.css" />
<script
  src="https://kit.fontawesome.com/882fb8e114.js"
  crossorigin="anonymous"
></script>
{% block content %}
<!-- Header Section -->
<header>
  <h1>Anima Lib</h1>
</header>
<!-- Signup Form -->
<form method="POST" action>
  {% csrf_token %}
  <fieldset>
    <h2>Get Started</h2>
    <div>
      <p>
        <label class="label" for="fullname">Full Name</label>
        <br />
        {{form.username}}
      </p>

      <p>
        <label class="label" for="E-mail">Email</label>
        <br />
        {{form.email}}
      </p>

      <p>
        <label class="label" for="password">Password</label>
        <br />
        {{form.password1}}
      </p>

      <p>
        <label class="label" for="cpassword">Confirm Password</label>
        <br />
        {{form.password2}}
      </p>
    </div>

    <div>
      <button class="signup" type="submit">Create new account</button>
    </div>
    {% if messages %}
    <ul class="messages" type="none">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <div class="signin">
      Already have an account? <a href="{% url 'signin' %}"><b>Sign in</b></a>
    </div>
    <div class="or">or continue with</div>

    <div class="icons">
      <button>
        <a href="https://accounts.google.com/servicelogin">
          <i class="fab fa-google fa-2x"></i>
          Google
        </a>
      </button>
      <button>
        <a href="https://www.icloud.com/">
          <i class="fa-brands fa-apple fa-2x"></i>
          Apple ID
        </a>
      </button>
      <button>
        <a href="https://m.facebook.com/login/">
          <i class="fa-brands fa-facebook fa-2x"></i>
          Facebook
        </a>
      </button>
    </div>
    <p class="guest">Continue as <a href="#">Guest</a></p>
  </fieldset>
</form>
{% endblock %}
