{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href='https://use.fontawesome.com/releases/v5.12.0/css/all.css'>
    <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>

    <!-- from animation page -->
    <link rel="stylesheet" href="animax.css" />
    <link rel="stylesheet" type="text/css" href="bounce.css" />
    <link rel="stylesheet" type="text/css" href="cloud.css" />


    <!-- from animation page -->

    <!-- from homepage -->
    <link rel="stylesheet" type="text/css" href="animation-demo.css" />

    <link rel="stylesheet" type="text/css" href="animation-demo.css" />

    <!-- from about page -->
    <link rel="icon" type="image/svg" sizes="32x32" href="../static/images/Animax.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="../static/style/index.css" />
    <link rel="stylesheet" href="{% static '../static/style/about_us.css' %}">

    <!-- from FAQ page -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet"/>
    <link href="{% static '../static/style/faq.css' %}"  rel="stylesheet" type="text/css" />

    <!-- from doc_page.html -->
    <link href="{% static '../static/style/doc_page.css' %}" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet"/>
    

    <!-- sign up html -->
    <link rel="stylesheet" href="{% static '../static/style/signup.css' %}" />

    <!-- signin.html -->
    <link rel="stylesheet" href="{% static '../static/style/signin.css' %}" />

    <title>AnimaX</title>
</head>
<body>
    {% include 'nav.html' %}

    {% block content %}

    {% endblock %}
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/faq.js' %}"></script>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <script src="https://kit.fontawesome.com/882fb8e114.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/doc_page.js' %}"></script>
    <script src="{% static 'js/anim.js' %}"></script>

</body>
</html>